.experience{

    width:100%;

    form{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content:flex-start;

        label{
            font-size: 16px;
            margin-left:10px;
            cursor: pointer;
        }

        input{
            display:inline-block;
            width:20px;
            height:20px;
            border:1px solid $link-color;
            margin:0 ;
            cursor: pointer;
        
        }

        .form-row{
            display:flex;
            align-items: center;
            margin-bottom: 15px;
        }
    }
    
}

.experience-item{
    width:100%;
    max-width:210px;
    margin-right: 69px;
}
.experience-item:last-child{
    margin-right: 0;
}