
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto-regular/Roboto-Regular.eot');
    src: url('../fonts/roboto-regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular/Roboto-Regular.woff') format('woff'),
    url('../fonts/roboto-regular/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/roboto-light/Roboto-Light.eot');
    src: url('../fonts/roboto-light/Roboto-Light.eot') format('embedded-opentype'),
    url('../fonts/roboto-light/Roboto-Light.woff') format('woff'),
    url('../fonts/roboto-light/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/roboto-thin/Roboto-Thin.eot');
    src: url('../fonts/roboto-thin/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-thin/Roboto-Thin.woff') format('woff'),
    url('../fonts/roboto-thin/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}